.meet{
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    padding-top: 1px;

}

.meet h1{
    margin-top: -10px;
}

.meet a{
    text-decoration: none;
    color: white;
    margin-left: -1700px;
}

.jas{
    color: aqua;
    margin-top: 120px;
    text-align: center;
}

.jazz{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(causes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 736px;
    margin-top: 12px;
}

.malh{
    margin-top: 585px;
    margin-left: 48px;
    text-align: justify;
    padding-right: 60px;
    line-height: 44px;
    font-size: 23px;
}

.malh img{
    margin-left: 263px;
    margin-top: 30px;
}

.chub{
    line-height: 44px;
    font-size: 23px;
    margin-left: 49px;
    padding-right: 60px;
    margin-top: 50px;
    text-align: justify;
}

#malh{
    float: left;
    margin-left: 120px;
    margin-top: 40px;
}

#jas{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.cte{
    margin-top: 640px;
    margin-left: 52px;
    padding-right: 60px;
    line-height: 44px;
    font-size: 23px;
    text-align: justify;
}

.cte img{
    margin-left: 336px;
    margin-top: 40px;
}

.angr a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 1636px;
}

.angr a:hover{
    text-decoration: underline;
}